* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.setting_icn {
  margin-left: 1%;
}

/* header start*/
.page_header {
  height: 50px;
  width: auto;
  /* position: relative; */
}
.page_header_logo {
  width: 250px;
  height: auto;
}

.page_header_text {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: rgb(88, 83, 83);
}

/* Card text (p.card-text) */

.card-text {
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
  position: relative;
  left: 3px;
}
/* header end */

/* card number */

.card_value {
  color: white;
  font-size: 35px;
}

labels {
  float: right;
}

.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 0;
}

.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 67px;
  height: 100%;
  width: 4px;
  background: #e9ecef;
  border-radius: 0.25rem;
}

.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.8s;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
  width: 18px;
  height: 18px;
  position: relative;
}

.badge:empty {
  display: none;
}

.badge-dot-xl::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 0.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: #fff;
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: 0.8rem;
}

.vertical-timeline-element-content .timeline-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  padding: 2px 0 0;
  font-weight: bold;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -90px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: dimgrey;
  font-size: 0.7619rem;
  font-weight: bold;
  white-space: nowrap;
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}
body {
  overflow: hidden;
}

.scrollable {
  overflow-y: auto;
  max-height: 335px;
}
.scrollbar-deep-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-deep-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.scrollbar-deep-blue {
  scrollbar-color: dimgrey;
}

/*** Notification position ***/
.notifi_header {
  margin-top: -2.5%;
  margin-left: 14.5%;
  /*padding-left: 2% ;*/
  background-color: #43425d !important;
  position: fixed;

  width: 20rem;
  z-index: 5;
  font-size: 20px;
  height: 50px;
}

/* Admin css start */
.head-txt {
  height: 29px;
  margin-top: 1%;
  text-align: left;
  font: Medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #343434;
  opacity: 1;
}

.add,
.edit,
.save,
.delete {
  outline: none;
  background: none;
  border: none;
}

.edit,
.save,
.delete {
  padding: 5px 10px;
  cursor: pointer;
}

.add {
  float: right;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
  &:hover {
    background: #ffffff;
    color: #00adee;
  }
}

.save {
  display: none;
  background: #32ad60;
  color: #ffffff;
  &:hover {
    background: darken(#32ad60, 10%);
  }
}

.edit {
  background: #2199e8;
  color: #ffffff;
  &:hover {
    background: darken(#2199e8, 10%);
  }
}

.delete {
  background: #ec5840;
  color: #ffffff;
  &:hover {
    background: darken(#ec5840, 10%);
  }
}
/* body {
  overflow-y: hidden;
  overflow-x: hidden;
} */
.nav-tabs .nav-link.active {
  background-color: #e2e2e2;
  border-bottom: #e2e2e2;
  font-weight: bold;
}

/* Admin css end */
